<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        cacheTokens="false"
        colors="true"
        bootstrap="vendor/autoload.php"
        cacheResult="true"
        backupGlobals="false"
>
    <testsuites>
        <testsuite name="default">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>